################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs
/.vscode
/bin/Debug
/*/bin/Debug
